* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial Narrow', sans-serif;
}

.App-header {
/* Basic dimensions and centering */
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

/* Dark mode colors and gradient */
background: #121212; /* Fallback for browsers that don't support gradients */
background: linear-gradient(
  135deg,
  #00196c 25%,
  #00114d 25%,
  #00114d 50%,
  #00196c 50%,
  #00196c 75%,
  #00114d 75%,
  #00114d
);
background-size: 40px 40px;

/* Animation */
animation: move 4s linear infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.banner {
  padding: 5px;
  background-color: #00114d;
}

.logo {
  width: 20vw; /* La largeur du logo est de 50% de la largeur de l'écran */
  max-width: 100%; /* La largeur maximale du logo est égale à 100% de la largeur de son conteneur */
  height: auto; /* La hauteur du logo s'ajuste automatiquement pour conserver les proportions */
}

.bannerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  color: #d1cfff;
  text-align: center;
  font-family:Arial Narrow, sans-serif;;
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  font-size: 25px; /* Taille de police ajustée */
}

.buttonAccueil {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrage horizontal */
}