.buttonHref {
  padding: 1em 2em;
  font-family: Consolas, monaco, monospace;
  border: none;
  border-radius: 1%;
  font-weight: bold;
  letter-spacing: 15%;
  text-transform: none;
  cursor: pointer;
  color: #a9acff;
  transition: all 800ms;
  margin-bottom: 2%;
  text-decoration: none;
  font-size: 70%;
  position: relative;
  overflow: hidden;
  outline: 2px solid #d1cfff;
  margin-bottom:2% ;
}

.buttonHref:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #a9acff;
  box-shadow: 4px 5px 17px -4px #a9acff;
}

.buttonHref::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #a9acff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 800ms;
}

.buttonHref:hover::before {
  width: 250%;
}

.buttonRetourAcc {
  padding: 1em 2em;
  border: #70bdca;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  font-family: Consolas, monaco, monospace;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 100ms;
  text-decoration: none;
  font-size: 10px;
  position: relative;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrage horizontal */
}

.buttonRetourAcc:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: none;
  box-shadow: 3px 3px 17px -3px #268391;
}

.buttonRetourAcc::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 100ms;
}

.buttonRetourAcc:hover::before {
  width: 250%;
}

.buttonModeItineraire {
  padding: 1em 2em;
  border: none;
  font-family: Consolas, monaco, monospace;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrage horizontal */
}

.buttonModeItineraire:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.buttonModeItineraire::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttonModeItineraire:hover::before {
  width: 250%;
}

.buttonAjouterIcone {
  padding: 1em 2em;
  border: none;
  font-family: Consolas, monaco, monospace;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrage horizontal */
}

.buttonAjouterIcone:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.buttonAjouterIcone::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttonAjouterIcone:hover::before {
  width: 250%;
}

.boutonSidebar {
  padding: 1em 2em;
  font-family: Consolas, monaco, monospace;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #a9acff;
  transition: all 100ms;
  text-decoration: none;
  font-size: 8px;
  margin-left: 10%;
  bottom: -130%; /* Positionné à 5% du bas du conteneur parent (la sidebar) */
  left: 0%;
  /* Positionné horizontalement au centre de la sidebar */ /* Centrage horizontal */
  position: absolute;
  overflow: hidden;
  outline: 2px solid #d1cfff;
}

.boutonSidebar:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #a9acff;
  box-shadow: 4px 5px 17px -4px #a9acff;
}

.boutonSidebar::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #a9acff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 100ms;
}

.boutonSidebar:hover::before {
  width: 250%;
}

.buttonItinary {
  --button_radius: 0.5em; /* Réduire le rayon du bouton */
  --button_color: #d1cfff;
  --button_outline_color: #0007c4;
  font-size: 66%; /* Réduire la taille de la police */
  font-weight: bold;
  font-family: Consolas, monaco, monospace;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-top: 6%;
  margin-left: 17%;
  padding: 0.5em 0.2em; /* Réduire la taille du padding */
  box-shadow: 0 8px 8px rgba(9, 96, 227, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Ajouter plus d'ombre */
}

.buttonItinary {
  display: inline-block; /* Changer de 'block' à 'inline-block' pour que la taille du bouton soit déterminée par son contenu */
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.buttonItinary:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.buttonItinary:active {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.Zone {
  --button_radius: 0.5em; /* Réduire le rayon du bouton */
  --button_color: #d1cfff;
  --button_outline_color: #0007c4;
  font-size: 66%; /* Réduire la taille de la police */
  font-weight: bold;
  font-family: Consolas, monaco, monospace;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-top: 6%;
  margin-left: 15%;
  padding: 0.5em 0.2em; /* Réduire la taille du padding */
  box-shadow: 0 8px 8px rgba(9, 96, 227, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Ajouter plus d'ombre */
}

.Zone {
  display: inline-block; /* Changer de 'block' à 'inline-block' pour que la taille du bouton soit déterminée par son contenu */
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.Zone:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.Zone:active {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* Styles pour le bouton avec la classe "Back" */
.Back {
  cursor: pointer;
  border-radius: 0.5em;
  border-style: solid;
  background-color: #d1cfff;
  border-color: #0007c4;
  width: 15%;
  height: 10%;
  font-size: 80%;
  transition: 0.2s ease;
  border-width: 3%;
  font-weight: 600;
  color: #0007c4;
  margin-left: 41.5%;
  margin-bottom: 3%;
  
  letter-spacing: 0.5px;
}

.Back:hover {
  color: rgb(247, 247, 247);
  background-color: rgb(254, 120, 120);
  border-color: rgb(254, 120, 120);
  text-shadow: 0 0 0.8em white, 0 0 0.5em white;
  box-shadow: 0 0 0.8em rgb(254, 120, 120), 0 0 0.5em rgb(254, 120, 120),
    0 0 1em rgb(254, 120, 120), 0 0 2em rgb(254, 120, 120);
  font-size: 80%;
  width: 15%;
  height: 10%;
  
  
}

.Back:active {
  width: 15%;
  height: 10%;
  
  
}


.mapboxgl-popup-close-button {
  font-size: 24px; /* Ajustez la taille de la croix selon vos préférences */
  line-height: 24px; /* Assurez-vous que la ligne correspond à la taille pour centrer la croix */
  width: 24px; /* Définissez également la largeur de la croix pour laisser de l'espace autour */
  height: 24px; /* Définissez également la hauteur de la croix pour laisser de l'espace autour */
  color: #000; /* Couleur de la croix */
  font-weight: bold; /* Optionnel : pour une croix plus visible */
  transition: transform 0.2s ease; /* Ajoutez une transition pour une animation douce */
}

.mapboxgl-popup-close-button:hover {
  transform: scale(
    1.1
  ); /* Effet d'échelle au survol pour agrandir légèrement la croix */
}

.form {
  --input-focus: #00114d;
  --font-color: #d1cfff;
  --font-color-sub: beige;
  --bg-color: beige;
  --main-color: #040c29;
  padding: 10px; /* Réduire l'espace intérieur */
  background: #00196c;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  justify-content: flex-end; /* Aligner en bas */
  gap: 50%; /* Réduire l'espace entre les éléments */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  height: 50%;
  width: 70%; /* Réduire la largeur */
  margin-top: 1%;
  margin-bottom: 6%;
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 16px; /* Réduire la taille du titre */
  margin-bottom: 15px; /* Réduire l'espace en bas */
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 14px; /* Réduire la taille du sous-titre */
}

.input {
  width: 35%; /* Utiliser toute la largeur */

  height: 100%; /* Réduire la hauteur */
  border-radius: 0.2em;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 0.2em 0.2em var(--main-color);
  font-size: 60%; /* Réduire la taille de la police */
  font-weight: 600;
  color: #00114d;
  padding: 0.5% ;
  outline: none;
}

.input::placeholder {
  color: #00114d;
  opacity: 0.8;
}



.login-with {
  display: flex;
  gap: 10%;
}

.button-log {
  cursor: pointer;
  width: 30%; /* Réduire la taille du bouton */
  height: 30%; /* Réduire la taille du bouton */
  border-radius: 100%;
  border: 0.1em solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow:  0.2em 0.2em var(--main-color);
  color: #00114d;
  font-size: 20%; /* Réduire la taille de la police */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 18%; /* Réduire la taille de l'icône */
  height: 18%; /* Réduire la taille de l'icône */
  fill: var(--main-color);
}

.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3%, 3%);
}

.button-confirm {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 12%; /* Réduire la largeur */
  height: 130%; /* Réduire la hauteur */
  border-radius: 0.2em;
  border: 0.1em solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 0.2em 0.2em var(--main-color);
  font-size: 55%; /* Réduire la taille de la police */
  font-weight: 600;
  color: #00114d;
  cursor: pointer;
}

.Switch {
  padding: 1em 0.2em;
  border: #d1cfff;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  font-family: Consolas, monaco, monospace;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #0007c4;
  border-radius: 0.5em;
  border-style: solid;
  border-color: #0007c4;
  transition: all 100ms;
  text-decoration: none;
  font-size: 66%;
  position: relative;
  overflow: hidden;
  outline: none;
  background-color: #d1cfff;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrage horizontal */
}

.Switch:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: none;
  box-shadow: 3px 3px 17px -3px #d1cfff;
}

.Switch::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0007c4;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.Switch:hover::before {
  width: 250%;
}

.Telechargement{
  --button_radius: 0.5em; /* Réduire le rayon du bouton */
  --button_color: #d1cfff;
  --button_outline_color: #0007c4;
  font-size: 66%; /* Réduire la taille de la police */
  font-weight: bold;
  font-family: Consolas,monaco,monospace;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-top: 6%;
  margin-right: 6%;
  margin-left: 7%;
  margin-bottom: 3%;
  padding: 0.5em 0.2em; /* Réduire la taille du padding */
  box-shadow: 0 8px 8px rgba(9, 96, 227, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Ajouter plus d'ombre */
}

.Telechargement {
  display: inline-block; /* Changer de 'block' à 'inline-block' pour que la taille du bouton soit déterminée par son contenu */
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.Telechargement:hover  {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
 

.Telechargement:active  {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.Import{
  --button_radius: 0.5em; /* Réduire le rayon du bouton */
  --button_color: #d1cfff;
  --button_outline_color: #0007c4;
  font-size: 70%; /* Réduire la taille de la police */
  font-weight: bold;
  font-family: Consolas,monaco,monospace;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-top: 160%;
  margin-left: 18%;
  margin-bottom: 3%;
  padding: 0.5em 0.2em; /* Réduire la taille du padding */
  box-shadow: 0 8px 8px rgba(9, 96, 227, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Ajouter plus d'ombre */
}

.Import {
  display: inline-block; /* Changer de 'block' à 'inline-block' pour que la taille du bouton soit déterminée par son contenu */
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.Import:hover  {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
 

.Import:active  {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-left: 20%;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
  margin-left: 20%;
}

label {
  font-size: 80%;
  color: #424242;
  font-weight: 200;
  margin-left: 20%;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 200;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #E0E0E0;
  border-radius: 26px;
  font-weight: 200;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  font-weight: 400;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #FF9800;
  font-weight: 200;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  font-weight: 400;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
  font-weight: 400;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  font-weight: 400;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
  font-weight: 400;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

