.time-picker-container {
    flex-direction: column;
    align-items: center;
    background-color: #add8e6; /* Bleu clair */
    padding: 20px;
    border-radius: 10px;
  }

  
  .time-picker-input {
    padding: 5px;
    border: 2px solid #4682b4; /* Bleu acier */
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .time-picker-input:focus {
    outline: none;
    border-color: #2e8b57; /* Vert mer */
  }
  